:root {
  --text-shadows: 2px 2px 4px rgba(0, 0, 0, 0.2);
  --box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  --custom-border-color: 1px solid rgba(255, 255, 255, 0.3);
  --background-color: rgba(255, 255, 255, 0.3);
  --white: #f1f1f1;
}


.vibrantForm {
  background: var(--background-color);
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid var(--background-color);
  border-top: 1px solid var(--background-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  place-items: center;
}


@media only screen and (max-width: 600px) {
  .vibrantForm {
    padding: 1em;
  }
}

.vibrantForm p {
  font-weight: 500;
  color: var(--white);
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: var(--text-shadow);
}